mixin card-available
  article.card.card--available
    .card__layout
      picture.card__preview
        source(srcset="img/preview-01.webp", type="image/webp")
        source(srcset="img/preview-01.jpg", type="image/jpeg")
        img.card__preview(
          src="img/preview-01.jpg",
          width="500",
          height="500",
          alt="")
      .card__inner
        header.card__header
          h3.card__title.card__title--has-counter
            | #[span.card__title-counter 08.] #[b Техника] #[br]в&nbsp;ZModeller
          a.card__thumb-wrapper(href="/")
            img.card__thumb(
              src="img/thumb.jpg",
              width="50",
              height="50",
              alt="John Smith")
        .card__body
          p.card__description Изучение ZModeller для применения к&nbsp;тяжелой технике
          p.card__time 2 часа
        .card__status
          span(style="width: 50%")
    .card__footer
      p Завершено на&nbsp;50%
      a.card__continue(href="/") Продолжить

mixin card-unavailable
  article.card.card--unavailable
    .card__layout
      picture.card__preview
        source(srcset="img/preview-01.webp", type="image/webp")
        source(srcset="img/preview-01.jpg", type="image/jpeg")
        img.card__preview(
          src="img/preview-01.jpg",
          width="500",
          height="500",
          alt="")
      .card__inner
        header.card__header
          h3.card__title.card__title--has-counter
            | #[span.card__title-counter 10.] #[b Техника] #[br]в&nbsp;ZModeller
          a.card__thumb-wrapper(href="/")
            img.card__thumb(
              src="img/thumb.jpg",
              width="50",
              height="50",
              alt="John Smith")
        .card__body
          p.card__description Изучение ZModeller для применения к&nbsp;тяжелой технике
          p.card__time 30 минут
          .card__status
            span(style="width: 100%")
    .card__footer
      p #[b доступно с: 22.10.2017]

mixin card-timer
  article.card
    .card__layout
      picture.card__preview
        source(srcset="img/preview-01.webp", type="image/webp")
        source(srcset="img/preview-01.jpg", type="image/jpeg")
        img.card__preview(
          src="img/preview-01.jpg",
          width="500",
          height="500",
          alt="")
      .card__inner
        header.card__header
          h3.card__title #[b Онлайн встреча] #[br]4 неделя
        .card__timer.timer
          p.timer__days(
            data-timer="2020-10-18T12:00:00.131+03:00",
            data-format="days") 3 дня
          p.timer__time(
            data-timer="2020-10-18T12:00:00.131+03:00"
            data-format="time") 16:56:22
        .card__body
          p.card__description Онлайн-встреча 4&nbsp;недели. Фидбек и&nbsp;обсуждение ZModeller
          p.card__time &plusmn; 2 часа
        .card__status
    .card__footer
      p
        b до&nbsp;встречи осталось
        |
        |
        span.nowrap(
          data-timer="2020-10-18T12:00:00.131+03:00",
          data-format="days-h-m") 3 дня 16ч. 56м.

mixin card-large
  article.card.card--large
    .card__layout
      picture.card__preview
        source(srcset="img/preview-01.webp", type="image/webp")
        source(srcset="img/preview-01.jpg", type="image/jpeg")
        img.card__preview(
          src="img/preview-01.jpg",
          width="500",
          height="500",
          alt="")
      .card__inner
        header.card__header
          h3.card__title #[b Финальные работы курса]
          a.card__thumb-wrapper(href="/")
            img.card__thumb(
              src="img/thumb.jpg",
              width="50",
              height="50",
              alt="John Smith")
        .card__body
          p.card__description Изучение ZModeller для применения к&nbsp;тяжелой технике
      a.card__continue(href="/")
        span.sr-only Продолжить

main.page__main.page-main
  .container
    h1.page-main__title ZBrush
    section.content-section
      header.content-section__header
        h2.content-section__title Уроки
        button.content-section__toggler.content-section__toggler--active(
          type="button",
          data-label-alt="Развернуть",
          title="Свернуть")
          span.sr-only Свернуть
      .content-section__body
        p.content-section__description В&nbsp;данном блоке каждую новую недель после начала обучения, будут открываться новые уроки. Каждая плашка&nbsp;&mdash; видеоурок с&nbsp;домашним заданием и&nbsp;открытым чатом. Поскольку формат песочницы максимально себя раскрывает при групповой мотивации и&nbsp;помощи&nbsp;&mdash; обязательно загружай все задания, даже если они тебе кажутся неидеальными и&nbsp;в&nbsp;дружеской форме помогай увидеть ошибки другим!
        .content-section__cards
          .row
            - for (let i = 0; i < 2; i++)
              .col-12.col-sm-6.col-lg-3.content-section__card-wrapper
                +card-available
              .col-12.col-sm-6.col-lg-3.content-section__card-wrapper
                +card-unavailable
              .col-12.col-sm-6.col-lg-3.content-section__card-wrapper
                +card-timer
              .col-12.col-sm-6.col-lg-3.content-section__card-wrapper
                +card-timer


    section.content-section
      header.content-section__header
        h2.content-section__title Финал
        button.content-section__toggler.content-section__toggler--active(
          type="button",
          data-label-alt="Развернуть",
          title="Свернуть")
          span.sr-only Свернуть
      .content-section__body
        p.content-section__description Это финальный блок, где выпускники курса &laquo;Цифровой рисунок&nbsp;&mdash; Песочница&raquo; загружают свои итоговые работы.Его уже можно посмотреть, а&nbsp;загрузить сюда свою работу можно после просмотра всех блоков и&nbsp;выполнения домашних заданий.Пожалуйста, не&nbsp;забывайте выполнять задания из&nbsp;блока &laquo;Уроки&raquo;, это напрямую оказывает влияние на&nbsp;финальную работу. Также, загружайте свои итоги и&nbsp;сравнивайте с&nbsp;работами других студентов.
        +card-large
